@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: #fe3845;
  --off-white: #f3f3f3;
  --yellow: #ffc050;
  --green: #00af85;
  --blue: #016fb9;
  --grey: #3c3c3c;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: var(--white);
  color: var(--grey);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  color: var(--grey);
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.video {
  position: relative;
  z-index: 2;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.125) 0 0 16px;
  border-radius: 4px;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 4px;
}

.arrow-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}
.arrow-link:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  background: url("../img/arrow-right.svg") center center no-repeat;
  background-size: 1.5rem 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}
.arrow-link:hover:after {
  transform: translateX(8px);
}

.staff-list {
  display: grid;
  gap: 32px;
}
@media (min-width: 768px) {
  .staff-list {
    grid-template-columns: repeat(2, minmax(0, 25%));
  }
}
@media (min-width: 1200px) {
  .staff-list {
    grid-template-columns: repeat(3, minmax(0, 33%));
  }
}

.staff-list-item {
  box-shadow: rgba(0, 0, 0, 0.125) 0 0 1rem;
  border-radius: 0.25rem;
}

.staff-list-item__content {
  padding: 1.5rem 2rem;
}

.staff-list-item__name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.staff-list-item__title {
  font-size: 1rem;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

@media (min-width: 576px) {
  .sm\:text-align-center {
    text-align: center;
  }

  .sm\:text-align-left {
    text-align: left;
  }

  .sm\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .md\:text-align-center {
    text-align: center;
  }

  .md\:text-align-left {
    text-align: left;
  }

  .md\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .lg\:text-align-center {
    text-align: center;
  }

  .lg\:text-align-left {
    text-align: left;
  }

  .lg\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .xl\:text-align-center {
    text-align: center;
  }

  .xl\:text-align-left {
    text-align: left;
  }

  .xl\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 1400px) {
  .xxl\:text-align-center {
    text-align: center;
  }

  .xxl\:text-align-left {
    text-align: left;
  }

  .xxl\:text-align-right {
    text-align: right;
  }
}
.container {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex: 1 0 auto;
  width: 100%;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.col--1,
.row--col-1 > * {
  flex: 0 0 auto;
  width: calc(1 / 12 * 100%);
}

.col--2,
.row--col-2 > * {
  flex: 0 0 auto;
  width: calc(2 / 12 * 100%);
}

.col--3,
.row--col-3 > * {
  flex: 0 0 auto;
  width: calc(3 / 12 * 100%);
}

.col--4,
.row--col-4 > * {
  flex: 0 0 auto;
  width: calc(4 / 12 * 100%);
}

.col--5,
.row--col-5 > * {
  flex: 0 0 auto;
  width: calc(5 / 12 * 100%);
}

.col--6,
.row--col-6 > * {
  flex: 0 0 auto;
  width: calc(6 / 12 * 100%);
}

.col--7,
.row--col-7 > * {
  flex: 0 0 auto;
  width: calc(7 / 12 * 100%);
}

.col--8,
.row--col-8 > * {
  flex: 0 0 auto;
  width: calc(8 / 12 * 100%);
}

.col--9,
.row--col-9 > * {
  flex: 0 0 auto;
  width: calc(9 / 12 * 100%);
}

.col--10,
.row--col-10 > * {
  flex: 0 0 auto;
  width: calc(10 / 12 * 100%);
}

.col--11,
.row--col-11 > * {
  flex: 0 0 auto;
  width: calc(11 / 12 * 100%);
}

.col--12,
.row--col-12 > * {
  flex: 0 0 auto;
  width: calc(12 / 12 * 100%);
}

.col--auto,
.row--col-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.offset-1 {
  margin-left: calc(1 / 12 * 100%);
}

.offset-2 {
  margin-left: calc(2 / 12 * 100%);
}

.offset-3 {
  margin-left: calc(3 / 12 * 100%);
}

.offset-4 {
  margin-left: calc(4 / 12 * 100%);
}

.offset-5 {
  margin-left: calc(5 / 12 * 100%);
}

.offset-6 {
  margin-left: calc(6 / 12 * 100%);
}

.offset-7 {
  margin-left: calc(7 / 12 * 100%);
}

.offset-8 {
  margin-left: calc(8 / 12 * 100%);
}

.offset-9 {
  margin-left: calc(9 / 12 * 100%);
}

.offset-10 {
  margin-left: calc(10 / 12 * 100%);
}

.offset-11 {
  margin-left: calc(11 / 12 * 100%);
}

.order-first {
  order: -1 !important;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.order-last {
  order: 13 !important;
}

@media (min-width: 576px) {
  .sm\:col--1,
.sm\:row--col-1 > * {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100%);
  }

  .sm\:col--2,
.sm\:row--col-2 > * {
    flex: 0 0 auto;
    width: calc(2 / 12 * 100%);
  }

  .sm\:col--3,
.sm\:row--col-3 > * {
    flex: 0 0 auto;
    width: calc(3 / 12 * 100%);
  }

  .sm\:col--4,
.sm\:row--col-4 > * {
    flex: 0 0 auto;
    width: calc(4 / 12 * 100%);
  }

  .sm\:col--5,
.sm\:row--col-5 > * {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100%);
  }

  .sm\:col--6,
.sm\:row--col-6 > * {
    flex: 0 0 auto;
    width: calc(6 / 12 * 100%);
  }

  .sm\:col--7,
.sm\:row--col-7 > * {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100%);
  }

  .sm\:col--8,
.sm\:row--col-8 > * {
    flex: 0 0 auto;
    width: calc(8 / 12 * 100%);
  }

  .sm\:col--9,
.sm\:row--col-9 > * {
    flex: 0 0 auto;
    width: calc(9 / 12 * 100%);
  }

  .sm\:col--10,
.sm\:row--col-10 > * {
    flex: 0 0 auto;
    width: calc(10 / 12 * 100%);
  }

  .sm\:col--11,
.sm\:row--col-11 > * {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100%);
  }

  .sm\:col--12,
.sm\:row--col-12 > * {
    flex: 0 0 auto;
    width: calc(12 / 12 * 100%);
  }

  .sm\:col--auto,
.sm\:row--col-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .sm\:offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .sm\:offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .sm\:offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .sm\:offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .sm\:offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .sm\:offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .sm\:offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .sm\:offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .sm\:offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .sm\:offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .sm\:offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }

  .sm\:order-first {
    order: -1 !important;
  }

  .sm\:order-1 {
    order: 1;
  }

  .sm\:order-2 {
    order: 2;
  }

  .sm\:order-3 {
    order: 3;
  }

  .sm\:order-4 {
    order: 4;
  }

  .sm\:order-5 {
    order: 5;
  }

  .sm\:order-6 {
    order: 6;
  }

  .sm\:order-7 {
    order: 7;
  }

  .sm\:order-8 {
    order: 8;
  }

  .sm\:order-9 {
    order: 9;
  }

  .sm\:order-10 {
    order: 10;
  }

  .sm\:order-11 {
    order: 11;
  }

  .sm\:order-12 {
    order: 12;
  }

  .sm\:order-last {
    order: 13 !important;
  }
}
@media (min-width: 768px) {
  .md\:col--1,
.md\:row--col-1 > * {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100%);
  }

  .md\:col--2,
.md\:row--col-2 > * {
    flex: 0 0 auto;
    width: calc(2 / 12 * 100%);
  }

  .md\:col--3,
.md\:row--col-3 > * {
    flex: 0 0 auto;
    width: calc(3 / 12 * 100%);
  }

  .md\:col--4,
.md\:row--col-4 > * {
    flex: 0 0 auto;
    width: calc(4 / 12 * 100%);
  }

  .md\:col--5,
.md\:row--col-5 > * {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100%);
  }

  .md\:col--6,
.md\:row--col-6 > * {
    flex: 0 0 auto;
    width: calc(6 / 12 * 100%);
  }

  .md\:col--7,
.md\:row--col-7 > * {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100%);
  }

  .md\:col--8,
.md\:row--col-8 > * {
    flex: 0 0 auto;
    width: calc(8 / 12 * 100%);
  }

  .md\:col--9,
.md\:row--col-9 > * {
    flex: 0 0 auto;
    width: calc(9 / 12 * 100%);
  }

  .md\:col--10,
.md\:row--col-10 > * {
    flex: 0 0 auto;
    width: calc(10 / 12 * 100%);
  }

  .md\:col--11,
.md\:row--col-11 > * {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100%);
  }

  .md\:col--12,
.md\:row--col-12 > * {
    flex: 0 0 auto;
    width: calc(12 / 12 * 100%);
  }

  .md\:col--auto,
.md\:row--col-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .md\:offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .md\:offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .md\:offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .md\:offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .md\:offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .md\:offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .md\:offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .md\:offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .md\:offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .md\:offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .md\:offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }

  .md\:order-first {
    order: -1 !important;
  }

  .md\:order-1 {
    order: 1;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:order-3 {
    order: 3;
  }

  .md\:order-4 {
    order: 4;
  }

  .md\:order-5 {
    order: 5;
  }

  .md\:order-6 {
    order: 6;
  }

  .md\:order-7 {
    order: 7;
  }

  .md\:order-8 {
    order: 8;
  }

  .md\:order-9 {
    order: 9;
  }

  .md\:order-10 {
    order: 10;
  }

  .md\:order-11 {
    order: 11;
  }

  .md\:order-12 {
    order: 12;
  }

  .md\:order-last {
    order: 13 !important;
  }
}
@media (min-width: 992px) {
  .lg\:col--1,
.lg\:row--col-1 > * {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100%);
  }

  .lg\:col--2,
.lg\:row--col-2 > * {
    flex: 0 0 auto;
    width: calc(2 / 12 * 100%);
  }

  .lg\:col--3,
.lg\:row--col-3 > * {
    flex: 0 0 auto;
    width: calc(3 / 12 * 100%);
  }

  .lg\:col--4,
.lg\:row--col-4 > * {
    flex: 0 0 auto;
    width: calc(4 / 12 * 100%);
  }

  .lg\:col--5,
.lg\:row--col-5 > * {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100%);
  }

  .lg\:col--6,
.lg\:row--col-6 > * {
    flex: 0 0 auto;
    width: calc(6 / 12 * 100%);
  }

  .lg\:col--7,
.lg\:row--col-7 > * {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100%);
  }

  .lg\:col--8,
.lg\:row--col-8 > * {
    flex: 0 0 auto;
    width: calc(8 / 12 * 100%);
  }

  .lg\:col--9,
.lg\:row--col-9 > * {
    flex: 0 0 auto;
    width: calc(9 / 12 * 100%);
  }

  .lg\:col--10,
.lg\:row--col-10 > * {
    flex: 0 0 auto;
    width: calc(10 / 12 * 100%);
  }

  .lg\:col--11,
.lg\:row--col-11 > * {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100%);
  }

  .lg\:col--12,
.lg\:row--col-12 > * {
    flex: 0 0 auto;
    width: calc(12 / 12 * 100%);
  }

  .lg\:col--auto,
.lg\:row--col-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .lg\:offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .lg\:offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .lg\:offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .lg\:offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .lg\:offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .lg\:offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .lg\:offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .lg\:offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .lg\:offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .lg\:offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .lg\:offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }

  .lg\:order-first {
    order: -1 !important;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:order-3 {
    order: 3;
  }

  .lg\:order-4 {
    order: 4;
  }

  .lg\:order-5 {
    order: 5;
  }

  .lg\:order-6 {
    order: 6;
  }

  .lg\:order-7 {
    order: 7;
  }

  .lg\:order-8 {
    order: 8;
  }

  .lg\:order-9 {
    order: 9;
  }

  .lg\:order-10 {
    order: 10;
  }

  .lg\:order-11 {
    order: 11;
  }

  .lg\:order-12 {
    order: 12;
  }

  .lg\:order-last {
    order: 13 !important;
  }
}
@media (min-width: 1200px) {
  .xl\:col--1,
.xl\:row--col-1 > * {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100%);
  }

  .xl\:col--2,
.xl\:row--col-2 > * {
    flex: 0 0 auto;
    width: calc(2 / 12 * 100%);
  }

  .xl\:col--3,
.xl\:row--col-3 > * {
    flex: 0 0 auto;
    width: calc(3 / 12 * 100%);
  }

  .xl\:col--4,
.xl\:row--col-4 > * {
    flex: 0 0 auto;
    width: calc(4 / 12 * 100%);
  }

  .xl\:col--5,
.xl\:row--col-5 > * {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100%);
  }

  .xl\:col--6,
.xl\:row--col-6 > * {
    flex: 0 0 auto;
    width: calc(6 / 12 * 100%);
  }

  .xl\:col--7,
.xl\:row--col-7 > * {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100%);
  }

  .xl\:col--8,
.xl\:row--col-8 > * {
    flex: 0 0 auto;
    width: calc(8 / 12 * 100%);
  }

  .xl\:col--9,
.xl\:row--col-9 > * {
    flex: 0 0 auto;
    width: calc(9 / 12 * 100%);
  }

  .xl\:col--10,
.xl\:row--col-10 > * {
    flex: 0 0 auto;
    width: calc(10 / 12 * 100%);
  }

  .xl\:col--11,
.xl\:row--col-11 > * {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100%);
  }

  .xl\:col--12,
.xl\:row--col-12 > * {
    flex: 0 0 auto;
    width: calc(12 / 12 * 100%);
  }

  .xl\:col--auto,
.xl\:row--col-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .xl\:offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .xl\:offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .xl\:offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .xl\:offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .xl\:offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .xl\:offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .xl\:offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .xl\:offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .xl\:offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .xl\:offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .xl\:offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }

  .xl\:order-first {
    order: -1 !important;
  }

  .xl\:order-1 {
    order: 1;
  }

  .xl\:order-2 {
    order: 2;
  }

  .xl\:order-3 {
    order: 3;
  }

  .xl\:order-4 {
    order: 4;
  }

  .xl\:order-5 {
    order: 5;
  }

  .xl\:order-6 {
    order: 6;
  }

  .xl\:order-7 {
    order: 7;
  }

  .xl\:order-8 {
    order: 8;
  }

  .xl\:order-9 {
    order: 9;
  }

  .xl\:order-10 {
    order: 10;
  }

  .xl\:order-11 {
    order: 11;
  }

  .xl\:order-12 {
    order: 12;
  }

  .xl\:order-last {
    order: 13 !important;
  }
}
@media (min-width: 1400px) {
  .xxl\:col--1,
.xxl\:row--col-1 > * {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100%);
  }

  .xxl\:col--2,
.xxl\:row--col-2 > * {
    flex: 0 0 auto;
    width: calc(2 / 12 * 100%);
  }

  .xxl\:col--3,
.xxl\:row--col-3 > * {
    flex: 0 0 auto;
    width: calc(3 / 12 * 100%);
  }

  .xxl\:col--4,
.xxl\:row--col-4 > * {
    flex: 0 0 auto;
    width: calc(4 / 12 * 100%);
  }

  .xxl\:col--5,
.xxl\:row--col-5 > * {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100%);
  }

  .xxl\:col--6,
.xxl\:row--col-6 > * {
    flex: 0 0 auto;
    width: calc(6 / 12 * 100%);
  }

  .xxl\:col--7,
.xxl\:row--col-7 > * {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100%);
  }

  .xxl\:col--8,
.xxl\:row--col-8 > * {
    flex: 0 0 auto;
    width: calc(8 / 12 * 100%);
  }

  .xxl\:col--9,
.xxl\:row--col-9 > * {
    flex: 0 0 auto;
    width: calc(9 / 12 * 100%);
  }

  .xxl\:col--10,
.xxl\:row--col-10 > * {
    flex: 0 0 auto;
    width: calc(10 / 12 * 100%);
  }

  .xxl\:col--11,
.xxl\:row--col-11 > * {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100%);
  }

  .xxl\:col--12,
.xxl\:row--col-12 > * {
    flex: 0 0 auto;
    width: calc(12 / 12 * 100%);
  }

  .xxl\:col--auto,
.xxl\:row--col-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .xxl\:offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .xxl\:offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .xxl\:offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .xxl\:offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .xxl\:offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .xxl\:offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .xxl\:offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .xxl\:offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .xxl\:offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .xxl\:offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .xxl\:offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }

  .xxl\:order-first {
    order: -1 !important;
  }

  .xxl\:order-1 {
    order: 1;
  }

  .xxl\:order-2 {
    order: 2;
  }

  .xxl\:order-3 {
    order: 3;
  }

  .xxl\:order-4 {
    order: 4;
  }

  .xxl\:order-5 {
    order: 5;
  }

  .xxl\:order-6 {
    order: 6;
  }

  .xxl\:order-7 {
    order: 7;
  }

  .xxl\:order-8 {
    order: 8;
  }

  .xxl\:order-9 {
    order: 9;
  }

  .xxl\:order-10 {
    order: 10;
  }

  .xxl\:order-11 {
    order: 11;
  }

  .xxl\:order-12 {
    order: 12;
  }

  .xxl\:order-last {
    order: 13 !important;
  }
}
.md\:breakout-right {
  padding-right: 0;
}
.md\:breakout-right > * {
  margin-right: -2rem;
}

.wp-block-media-text .wp-block-media-text__content {
  padding-left: 8.3333333333%;
  padding-right: 0;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding-left: 0;
  padding-right: 8.3333333333%;
}

@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8.3333333333%;
  }
}
.wp-block-button__link {
  color: var(--grey) !important;
  background-color: var(--yellow);
  font-weight: 800;
  border-radius: 999em;
  display: inline-flex;
  font-size: 1.25rem;
  height: 3rem;
  padding: 0 2rem;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wp-block-button__link:after {
  content: "";
  position: absolute;
  border-radius: 999em;
  top: 8px;
  left: 8px;
  bottom: -8px;
  right: -8px;
  border: var(--yellow) 2px solid;
}

.wp-block-button__link.has-yellow-background-color:after {
  border: var(--yellow) 2px solid;
}

.wp-block-button__link.has-white-background-color {
  color: var(--grey) !important;
  background-color: var(--white);
}
.wp-block-button__link.has-white-background-color:after {
  border: var(--white) 2px solid;
}

.footer {
  background-color: var(--white);
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-about p {
  font-size: 14px;
}

.footer-about__logo {
  display: inline-flex;
  margin-bottom: 24px;
  height: 32px;
}
.footer-about__logo img {
  height: 100%;
}

.footer-copyright {
  border-top: var(--grey) 2px solid;
  padding-top: 24px;
  margin-top: 24px;
}
.footer-copyright p {
  font-size: 14px;
}

.footer-menu {
  list-style: none;
}

.footer-menu__title {
  font-size: 20px;
  margin-bottom: 16px;
}

.footer-menu__list {
  list-style: none;
}

.footer-menu__list li {
  margin-bottom: 8px;
}

.footer-menu__list li:last-child {
  margin-bottom: 0;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.social-list .social-list-item {
  margin-right: 8px;
}
.social-list .social-list-item:last-child {
  margin-right: 0;
}
.social-list .social-list-link {
  width: 32px;
  height: 32px;
  background-color: var(--blue);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
}
.social-list .social-list-link--blue {
  background-color: var(--blue);
  color: var(--white);
}
.social-list .social-list-link--red {
  background-color: var(--red);
  color: var(--white);
}
.social-list .social-list-link--yellow {
  background-color: var(--yellow);
  color: var(--white);
}
.social-list .social-list-link--green {
  background-color: var(--green);
  color: var(--white);
}

/*# sourceMappingURL=style-editor.css.map */
