@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: #FE3845;
  --off-white: rgb(243,243,243);
  --yellow: #FFC050;
  --green: #00AF85;
  --blue: #016FB9;
  --grey: #3C3C3C;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: var(--grey);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  color: var(--grey);
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.video {
  position: relative;
  z-index: 1;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-bottom: 24px;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 24px;
}

p {
  margin-bottom: 24px;
}
p:last-of-type {
  margin-bottom: 0;
}

.arrow-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}

.arrow-link:after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-flex;
  background: url("../img/arrow-right.svg") center center no-repeat;
  background-size: 24px 24px;
  margin-left: 8px;
}

.staff-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 33%));
  gap: 32px;
}

.staff-list-item {
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px;
}

.staff-list-item__content {
  padding: 16px;
}

.staff-list-item__name {
  margin-bottom: 8px;
}

.bordered {
  border-top: #fff 2px solid;
  padding-top: 16px;
}

.wp-block-media-text .wp-block-media-text__content {
  padding-left: 8.3333333333%;
  padding-right: 0;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding-left: 0;
  padding-right: 8.3333333333%;
}

@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8.3333333333%;
  }
}
.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer .container {
  display: grid;
  grid-template-columns: 25% auto;
  column-gap: 32px;
}

.footer-about__logo {
  margin-bottom: 24px;
  height: 32px;
}
.footer-about__logo img {
  height: 100%;
}

.footer-copyright {
  border-top: var(--grey) 2px solid;
  padding-top: 24px;
  margin-top: 24px;
}
.footer-copyright p {
  font-size: 14px;
}

.footer-menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 32px;
}

.footer-menu-item:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer-menu__title {
  font-size: 20px;
  margin-bottom: 16px;
}

.footer-menu__list {
  list-style: none;
}

.footer-menu__list li {
  margin-bottom: 8px;
}

.footer-menu__list li:last-child {
  margin-bottom: 0;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.social-links li a {
  width: 32px;
  height: 32px;
  background-color: var(--blue);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
}

/*# sourceMappingURL=style-editor.css.map */
