:root {
  --red: #fe3845;
  --off-red: #fe4c57;
  --off-white: #f3f3f3;
  --yellow: #ffc050;
  --green: #00af85;
  --blue: #016fb9;
  --grey: #3c3c3c;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background-color: var(--white);
  color: var(--grey);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.preload * {
  transition: none !important;
}

a {
  color: var(--grey);
  text-decoration: underline;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.arrow-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);

  &:after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    flex: 0 0 auto;
    background: url("../img/arrow-right.svg") center center no-repeat;
    background-size: 1.5rem 1.5rem;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }

  &:hover:after {
    transform: translateX(8px);
  }
}

.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
@media (min-width: 576px) {
  .sm\:text-align-center {
    text-align: center;
  }
  .sm\:text-align-left {
    text-align: left;
  }
  .sm\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .md\:text-align-center {
    text-align: center;
  }
  .md\:text-align-left {
    text-align: left;
  }
  .md\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .lg\:text-align-center {
    text-align: center;
  }
  .lg\:text-align-left {
    text-align: left;
  }
  .lg\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .xl\:text-align-center {
    text-align: center;
  }
  .xl\:text-align-left {
    text-align: left;
  }
  .xl\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 1400px) {
  .xxl\:text-align-center {
    text-align: center;
  }
  .xxl\:text-align-left {
    text-align: left;
  }
  .xxl\:text-align-right {
    text-align: right;
  }
}

.figure--rounded {
  img {
    border: #fff 2px solid;
    border-radius: 999em;
  }
}

.back-to-top {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 999em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--grey) !important;
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, .125) 0 0 1rem;
  .back-to-top__icon {
    font-size: 1rem;
  }
  &.hidden {
    display: none;
  }
}

.fullscreen-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  will-change: top;
  background-color: var(--grey);
  z-index: 10000000000;
  transition: top 0.6s ease 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &.fullscreen-loading--hidden {
    top: -130%;
  }
}
