
:root {
  --red: #fe3845;
  --off-red: #fe4c57;
  --off-white: #f3f3f3;
  --yellow: #ffc050;
  --green: #00af85;
  --blue: #016fb9;
  --grey: #3c3c3c;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: var(--white);
  color: var(--grey);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.preload * {
  transition: none !important;
}

a {
  color: var(--grey);
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.video {
  position: relative;
  z-index: 2;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.125) 0 0 16px;
  border-radius: 4px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 4px;
  }
}

.arrow-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);

  &:after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    flex: 0 0 auto;
    background: url("../img/arrow-right.svg") center center no-repeat;
    background-size: 1.5rem 1.5rem;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }

  &:hover:after {
    transform: translateX(8px);
  }
}

.staff-list {
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 50%));
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(0, 33%));
  }
  gap: 32px;
}

.staff-list-item {
  background-color: var(--off-red);
  background-image: url("../img/about/about-background.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.125) 0 0 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.staff-list-item__content {
  padding: 2rem 2rem;
  flex: 1 1 auto;
}

.staff-list-item__name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.staff-list-item__title {
  font-size: 0.875rem;
}
.staff-list-item__photo {
  padding: 0 1rem 0 2rem;
}

.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
@media (min-width: 576px) {
  .sm\:text-align-center {
    text-align: center;
  }
  .sm\:text-align-left {
    text-align: left;
  }
  .sm\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .md\:text-align-center {
    text-align: center;
  }
  .md\:text-align-left {
    text-align: left;
  }
  .md\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .lg\:text-align-center {
    text-align: center;
  }
  .lg\:text-align-left {
    text-align: left;
  }
  .lg\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .xl\:text-align-center {
    text-align: center;
  }
  .xl\:text-align-left {
    text-align: left;
  }
  .xl\:text-align-right {
    text-align: right;
  }
}
@media (min-width: 1400px) {
  .xxl\:text-align-center {
    text-align: center;
  }
  .xxl\:text-align-left {
    text-align: left;
  }
  .xxl\:text-align-right {
    text-align: right;
  }
}