.post-list {
    &--special {
      margin-top: -12rem;
    }
  }
  
  .post {
    background-color: var(--white);
    box-shadow: rgba(0,0,0,.125) 0 0 1rem;
    border-radius: .25rem;
    overflow: hidden;
    min-height: 100%;
  
    position: relative;
    transition: all .2s ease-in-out;
  
    &--archived {
      &:hover {
        box-shadow: rgba(0, 0, 0, .125) 0 .5rem 1rem;
        transform: translateY(-.5rem); // rotate(5.625deg)
      }
    }
  
    .post-link {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
      }
    }
  
    .post-thumbnail {
      &--short img {
        object-fit: cover;
        max-height: 480px;
      }
    }
  
    .post-content {
      padding: 3rem 2rem;
    }

    &--featured {
      .post-content {
        @media (min-width: 768px) {
          padding: 3rem calc(2 / 12 * 100%);
        }
      }
    }
  
    .post-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        .post-datetime {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  
  .article-content {
    background-color: var(--white);
    box-shadow: rgba(0,0,0,.125) 0 0 1rem;
    margin-top: -12rem;
    border-radius: .25rem;
    overflow: hidden;
  }
  
  .article-content__inner {
    padding: 3rem 2rem;

    @media (min-width: 768px) {
      padding: 3rem calc(1 / 12 * 100%);
    }

    a {
      text-decoration-line: underline;
      text-decoration-color: var(--red);
      text-underline-offset: 2px;
    }
  }
  
  .pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .pagination li {
    margin-right: .5rem;
    &:last-child {
        margin-right: 0;
    }
  }
  
  .pagination li a {
    color: var(--grey);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 999em;
  }
  
  .pagination li.active {
    a {
        color: var(--white);
        background-color: var(--red);
    }
  }