.contact-list {
    list-style: none;
}
.contact-list-item {
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    white-space: pre-line;
    &:last-child {
        margin-bottom: 0;
    }
}

.contact-list-item--email a {
    padding-left: 3rem;
    &:before {
        width: 2rem;
        height: 2rem;
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        background: url('../img/contact/email.svg?123') center center no-repeat;
        background-size: 2rem 2rem;
    }
}
.contact-list-item--phone a {
    padding-left: 3rem;
    &:before {
        width: 2rem;
        height: 2rem;
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        background: url('../img/contact/phone.svg?123') center center no-repeat;
        background-size: 2rem 2rem;
    }
}
.contact-list-item--address {
    padding-left: 3rem;
    &:before {
        width: 2rem;
        height: 2rem;
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        background: url('../img/contact/address.svg?123') center center no-repeat;
        background-size: 2rem 2rem;
    }
}