.contact-list {
    list-style: none;
}
.contact-list-item {
    position: relative;
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 3rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.contact-list-item:before {
    width: 2rem;
    height: 2rem;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
.contact-list-item--email:before {
    background: url('../img/contact/email.svg?123') center center no-repeat;
    background-size: 2rem 2rem;
}
.contact-list-item--phone:before {
    background: url('../img/contact/phone.svg?123') center center no-repeat;
    background-size: 2rem 2rem;
}
.contact-list-item--address:before {
    background: url('../img/contact/address.svg?123') center center no-repeat;
    background-size: 2rem 2rem;
}
