.footer {
  background-color: var(--white);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-about {
  p {
    font-size: .875rem;
  }
  a {
    text-decoration-line: underline;
    text-decoration-color: var(--red);
    text-underline-offset: 2px;
  }
}

.footer-about__logo {
  display: inline-flex;
  margin-bottom: 1.5rem;
  height: 2rem;

  img {
    height: 100%;
  }
}

.footer-copyright {
  border-top: var(--grey) 2px solid;
  padding-top: 1.5rem;
  margin-top: 1.5rem;

  p {
    font-size: .75rem;
  }
}

.footer-menu {
  list-style: none;
}

.footer-menu__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-menu__list {
  list-style: none;
}
.footer-menu__list li {
  margin-bottom: .5rem;
}
.footer-menu__list li:last-child {
  margin-bottom: 0;
}

// .footer-menu__list li.current-menu-item,
// .footer-menu__list li.current-page-ancestor,
// .footer-menu__list li.current_page_parent {
//     a {
//         font-weight: 600;
//     }
// }

.social-list {
  list-style: none;
  display: flex;
  align-items: center;

  .social-list-item {
    margin-right: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }

  .social-list-link {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--blue);
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 999em;
  }

  @at-root .social-list--large {
    .social-list-item {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }

    .social-list-link {
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
    }
  }

  .social-list-link--blue {
    background-color: var(--blue);
    color: var(--white);
  }
  .social-list-link--red {
    background-color: var(--red);
    color: var(--white);
  }
  .social-list-link--yellow {
    background-color: var(--yellow);
    color: var(--white);
  }
  .social-list-link--green {
    background-color: var(--green);
    color: var(--white);
  }
}
