.footer {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 40px;
}

.footer-about {
    
}

.footer-about__logo {
    margin-bottom: 24px;
    height: 32px;
    img {
        height: 100%;
    }
}

.footer-copyright {
    border-top: var(--grey) 2px solid;
    padding-top: 32px;
    margin-top: 32px;
}


.footer-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 40px;
    grid-column: span 10;
}

.footer-menu-item:last-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}



.footer-menu__title {
    font-size: 20px;
    margin-bottom: 16px;
}

.footer-menu__list {
    list-style: none;
}
.footer-menu__list li {
    margin-bottom: 8px;
}
.footer-menu__list li:last-child {
    margin-bottom: 0;
}



.social-links {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 8px;

    li {

        a {
            width: 32px;
            height: 32px;
            background-color: var(--blue);
            color: var(--white);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 999em;
        }
    }
}