.home-hero {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}


.tooltips {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tooltip {
  position: absolute;
}

.tooltip:nth-child(1) {
  top: 12.5%;
  left: 62.5%;
}

.tooltip:nth-child(2) {
  bottom: 50%;
  left: 28.125%;
}

.tooltip:nth-child(3) {
  bottom: 25%;
  right: 25%;
}

.tooltip-pulse {
  cursor: pointer;
  display: inline-flex;
  width: 24px;
  height: 24px;
  border: transparent 2px solid;
  background-color: #fff;
  border-radius: 999em;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .2s ease-in-out;
  color: #000;
}

.tooltip-pulse__icon {
  color: #000;
  font-size: 12px;
  transition: all .2s ease-in-out;
}

.tooltip-pulse:hover .tooltip-pulse__icon {}

.tooltip-pulse:after {
  content: "";
  display: block;
  position: absolute;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  border: #fff 2px solid;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: pulse-animation 1.5s linear infinite;
  z-index: 10;
}

@keyframes pulse-animation {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(2.5);
      opacity: 0;
  }
}

.tooltip-bubble {
  position: absolute;
  width: 320px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  z-index: 10001;
  filter: drop-shadow(rgba(0, 0, 0, .25) 0 8px 8px);
}

.tooltip-bubble--top {
  bottom: 48px;
}

.tooltip-bubble--bottom {
  top: 48px;
}

.tooltip-bubble--right {
  right: -32px;
}

.tooltip-bubble--left {
  left: -32px;
}

.tooltip-bubble:after {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
}

.tooltip-bubble--top:after {
  bottom: -12px;
}

.tooltip-bubble--bottom:after {
  top: -12px;
}

.tooltip-bubble--left:after {
  left: 32px;
}

.tooltip-bubble--right:after {
  right: 32px;
}

@media (max-width: 767px) {
  .tooltip-bubble {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
  }
}

.tooltip-bubble__content {
  color: #000;
  padding: 24px 24px;
}

.tooltip-bubble__content p {
  font-size: 16px;
}

.tooltip-bubble__content a {
  color: #000;
  box-shadow: #000 0 2px 0;
}

.tooltip-bubble__arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px 16px 16px;
}

.tooltip-arrow {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #eee;
  color: #000 !important;
  margin-left: 8px;
  border-radius: 999em;
  transition: all .2s ease-in-out;
}

.tooltip-arrow:first-child {
  margin-left: 0;
}

.tooltip-arrow:hover {
  background-color: #000;
  color: #fff !important;
}

.tooltip-arrow__icon {
  font-size: 16px;
}

.tooltip-bubble__close {
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  background-color: #000;
  border: #fff 2px solid;
  color: #fff;
  box-shadow: rgba(0, 0, 0, .25) 0 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
}

.tooltip-bubble__close:hover {
  background-color: #000;
  color: #fff;
}

.tooltip--open .tooltip-bubble {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.tooltip--open .tooltip-pulse {
  background-color: #000;
  border-color: #fff;
}

.tooltip--open .tooltip-pulse:after {
  content: none;
}

.tooltip--open .tooltip-pulse__icon {
  color: #fff;
}