.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.section:first-of-type {
    padding-top: 8rem;
}

.section--padded {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.section--masthead {
    min-height: 100vh;
    background-color: var(--red);
    background: var(--red) url('../img/masthead-background.svg') bottom center no-repeat;
    background-size: 1920px 1080px;
    display: flex;
    align-items: center;
    color: var(--white);


    &:after {
        content: '';
        position: absolute;
        top: 6rem;
        left: 0;
        width: 5562px;
        height: 50%;
        background: url('../img/masthead-clouds.svg') 0 0 repeat-x;
        background-size: 1854px auto;
        animation: clouds 60s linear 0s infinite;
    }

}
.section--masthead a {
    color: #fff;
}

.section--off-white {
    background: var(--off-white);
}
.section--red {
    background-color: var(--red);
    color: #fff;
}
.section--red a {
    color: #fff;
}
.section--yellow {
    background-color: var(--yellow);
    color: var(--grey);
}
.section--blue {
    background-color: var(--blue);
    color: #fff;
}
.section--green {
    background-color: var(--green);
    color: #fff;
}


.footer,
.section { position: relative; overflow: hidden; }
.footer > .container,
.section > .container { position: relative; z-index: 1; }

.section--pattern > .container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0;
    bottom: -100%;
    width: calc((100vw - 1320px) / 2);
    transform: translateX(-100%);
    // background: url('../img/pattern.svg') top left repeat-y;
    // background-size: cover;
    background-color: rgba(0,0,0,.0625);
}
.section--pattern > .container:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100%;
    right: 128px;
    bottom: -100%;
    width: calc((100vw - 1320px) + 1024px);
    transform: translateX(100%);
    // background: url('../img/pattern.svg') top right repeat-y;
    // background-size: cover;
    background-color: rgba(0,0,0,.0625);
}

.section--pattern--alternate > .container:before {
    left: 128px;
    width: calc((100vw - 1320px) + 1024px);
    transform: translateX(-100%);
}
.section--pattern--alternate > .container:after {
    right: 0;
    width: calc((100vw - 1320px) / 2);
    transform: translateX(100%);
}


.video-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    margin-top: -64px;
    margin-bottom: 64px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: var(--red);
    }

    &--red {
        &:before {
            background: var(--red);
        }
    }
    &--yellow {
        &:before {
            background: var(--yellow);
        }
    }
    &--blue {
        &:before {
            background: var(--blue);
        }
    }
    &--green {
        &:before {
            background: var(--green);
        }
    }
}


@keyframes clouds {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-1854px, 0, 0);
    }
}