.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.header + .section {
    padding-top: 8rem;
}

.section--padded {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.section--full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section--masthead {
    min-height: 100vh;
    background-color: var(--red);
    color: var(--white);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--red) url('../img/masthead-background-2.svg') center center repeat-x;
        background-size: 1920px 1080px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 6rem;
        left: 0;
        width: 5562px;
        height: 50%;
        background: url('../img/masthead-clouds.svg') 0 0 repeat-x;
        background-size: 1854px auto;
        animation: clouds 60s linear 0s infinite;
    }

}
.section--masthead a {
    color: #fff;
}

.section--off-white {
    background: var(--off-white);
}
.section--red {
    background-color: var(--red);
    color: #fff;
    a {
        color: #fff;
    }
}
.section--yellow {
    background-color: var(--yellow);
    color: var(--grey);
    a {
        color: var(--grey);
    }
}
.section--blue {
    background-color: var(--blue);
    color: #fff;
    a {
        color: #fff;
    }
}
.section--green {
    background-color: var(--green);
    color: #fff;
    a {
        color: #fff;
    }
}
.section--grey {
    background-color: var(--grey);
    color: #fff;
    a {
        color: #fff;
    }
}


.footer,
.section { position: relative; overflow: hidden; }
.footer > .container,
.section > .container { position: relative; z-index: 1 }

.section--pattern > .container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0;
    bottom: -100%;
    width: 100vw;
    transform: translateX(-100%);
    background: url('../img/pattern/pattern-off-white.svg') center right repeat;
    background-size: 192px auto;
}
.section--pattern > .container:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100%;
    right: 192px;
    bottom: -100%;
    width: 100vw;
    transform: translateX(100%);
    background: url('../img/pattern/pattern-off-white.svg') center left repeat;
    background-size: 192px auto;
}

.section--pattern--alternate > .container:before {
    left: 192px;
    transform: translateX(-100%);
    background: url('../img/pattern/pattern-off-white.svg') center right repeat;
    background-size: 192px auto;
}
.section--pattern--alternate > .container:after {
    right: 0;
    transform: translateX(100%);
    background: url('../img/pattern/pattern-off-white.svg') center left repeat;
    background-size: 192px auto;
}

.section--red.section--pattern > .container:before {
    background: url('../img/pattern/pattern-red.svg') center right repeat;
    background-size: 192px auto;
}
.section--red.section--pattern > .container:after {
    background: url('../img/pattern/pattern-red.svg') center left repeat;
    background-size: 192px auto;
}

.section--yellow.section--pattern > .container:before {
    background: url('../img/pattern/pattern-yellow.svg') center right repeat;
    background-size: 192px auto;
}
.section--yellow.section--pattern > .container:after {
    background: url('../img/pattern/pattern-yellow.svg') center left repeat;
    background-size: 192px auto;
}


.video-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    margin-top: -5rem;
    margin-bottom: 5rem;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: var(--red);
    }

    &--red {
        &:before {
            background: var(--red);
        }
    }
    &--yellow {
        &:before {
            background: var(--yellow);
        }
    }
    &--blue {
        &:before {
            background: var(--blue);
        }
    }
    &--green {
        &:before {
            background: var(--green);
        }
    }
}

.section--padded .video-wrapper {
    margin-top: -8rem;
    margin-bottom: 8rem;
}

.video {
    position: relative;
    z-index: 2;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.125) 0 0 16px;
    border-radius: 4px;
  
    iframe, img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }

    button {
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: 10;
    }

  }


@keyframes clouds {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-1854px, 0, 0);
    }
}