.services {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 40px;
    margin-bottom: 64px;
}

.services-list-item {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, .125) 0 0 8px;
    padding: 32px;
    text-align: center;

    .services-list-item__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }
    .services-list-item__title {
        font-size: 28px;
        margin-bottom: 16px;
    }
}