.services {
    display: grid;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.services-list-item {
    background-color: var(--white);
    color: var(--grey);
    box-shadow: rgba(0, 0, 0, .125) 0 0 1rem;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: .25rem;
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: rgba(0, 0, 0, .125) 0 .5rem 1rem;
        transform: translateY(-.5rem); // rotate(5.625deg)
    }

    a {
        color: var(--grey);
    }

    .services-list-item__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;

        img {
            max-width: 128px;
        }
    }
    .services-list-item__title {

    }
}