.testimonials-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.testimonials-list-item {
  opacity: 0;
  visibility: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.testimonials-list-item:nth-child(1) {
  opacity: 1;
  visibility: visible;
}

.testimonials-list-item__photo {
  img {
    border-radius: 999em;
    padding: 1rem;
    border: #fff 2px solid;
  }
}
.testimonials-list-item__content {
  .testimonials-list-item__author {
    margin-top: 1.5rem;
  }
  .testimonials-list-item__name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .testimonials-list-item__title {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
  }
}

.testimonial-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.testimonial-arrow {
  width: 48px;
  height: 48px;
  border-radius: 999em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin-left: 1rem;
  &:first-child {
    margin-left: 0;
  }
}
.testimonial-arrow__icon {
  font-size: 1.5rem;
}

.client-list {
  border-top: #fff 2px solid;
  padding-top: 4rem;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(6, minmax(0, 16.6666666667%));
  gap: 32px;

  .client-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    img {
      height: 100%;
    }
  }
}
