.client-logos {
  border-top: #fff 2px solid;
  padding-top: 4rem;
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  align-items: center;
  justify-content: space-around;
  img {
    max-height: 32px;
  }
}

.testimonial__photo {
  img {
    border-radius: 999em;
    padding: 1rem;
    border: #fff 2px solid;
  }
}
.testimonial__content {
}
.testimonial__author {
  margin-top: 1.5rem;
}
.testimonial__author__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
.testimonial__author__title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}


.testimonial__arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.testimonial-arrow {
  width: 48px;
  height: 48px;
  border-radius: 999em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin-left: 1rem;
  &:first-child {
    margin-left: 0;
  }
}
.testimonial-arrow__icon {
  font-size: 1.5rem;
}
